@font-face {
    font-family: "SFPD Regular";
    src: url("../fonts/0b51833ff62e4af8acb5fd3e2bf59e97.eot");
    /* IE9*/
    src: url("../fonts/0b51833ff62e4af8acb5fd3e2bf59e97.eot?#iefix") format("embedded-opentype"),
        url("../fonts/0b51833ff62e4af8acb5fd3e2bf59e97.woff2") format("woff2"),
        url("../fonts/0b51833ff62e4af8acb5fd3e2bf59e97.woff") format("woff"),
        url("../fonts/0b51833ff62e4af8acb5fd3e2bf59e97.ttf") format("truetype"),
        url("../fonts/0b51833ff62e4af8acb5fd3e2bf59e97.svg#SF Pro Display Regular") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: "SFPD Bold";
    src: url("../fonts/3cff9206b4c8d578245ef1aaeeaf9e84.eot");
    /* IE9*/
    src: url("../fonts/3cff9206b4c8d578245ef1aaeeaf9e84.eot?#iefix") format("embedded-opentype"),
        url("../fonts/3cff9206b4c8d578245ef1aaeeaf9e84.woff2") format("woff2"),
        url("../fonts/3cff9206b4c8d578245ef1aaeeaf9e84.woff") format("woff"),
        url("../fonts/3cff9206b4c8d578245ef1aaeeaf9e84.ttf") format("truetype"),
        url("../fonts/3cff9206b4c8d578245ef1aaeeaf9e84.svg#SF Pro Display Bold") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: "SFPD Light";
    src: url("../fonts/70c38766a71f8f7f0a477605da15fcd3.eot");
    /* IE9*/
    src: url("../fonts/70c38766a71f8f7f0a477605da15fcd3.eot?#iefix") format("embedded-opentype"),
        url("../fonts/70c38766a71f8f7f0a477605da15fcd3.woff2") format("woff2"),
        url("../fonts/70c38766a71f8f7f0a477605da15fcd3.woff") format("woff"),
        url("../fonts/70c38766a71f8f7f0a477605da15fcd3.ttf") format("truetype"),
        url("../fonts/70c38766a71f8f7f0a477605da15fcd3.svg#SF Pro Display Light") format("svg");
    /* iOS 4.1- */
}

html {
    // your css to create a cover image
    padding: env(safe-area-inset); // <- this is the missing piece. Add it.
    // overflow-x: hidden;
    scroll-behavior: smooth;
}

.row_clr {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

* {
    padding: 0;
    margin: 0;
}

.no-pad {
    padding: 0;
}

@media (min-width: 768px) {
    .col-sm-20 {
        width: 20%;
        position: relative;
    }
}

.hid {
    opacity: 0;
}

#__bs_notify__ {
    display: none !important;
}

body {
    background: #fff;
    font-family: $body-font;
    color: $lblack;
}

//@media (min-width: 1680px){
//.container {
//    max-width: 1600px;
//    padding: 0 15px;
//}
//}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1670px;
    }
}

button.btn, .btn.focus, .btn:focus{
    border: 0;
    outline: 0;
    box-shadow: none;
}
