// Some people like naming based on where the color
// will be used while others prefer names that
// represent the color

$red: #FF0000;
$white: #FFFFFF;
$gray: #808080;
$pink: #FFCBDB;
$brown: #964B00;
$orange: #FF7F00;
$yellow: #FFFF00;
$green: #00FF00;
$cyan: #00FFFF;
$blue: #0000FF;
$dark-blue: #20409A;
$light-blue: #188DCD;
$violet: #7F00FF;
$black: #000000;
$lblack: #2e2e2e;
$duke-blue: #001A57;
$blue-gray: #6699CC;
$main-green: #00647D;
$alice-blue: #F0F8FF;
$ash-gray: #6b6b6b;
$lb:#3a3a3a;
$lgray:#cac8c8;
$purple:#5662b3;


$body-font: "SFPD Regular";
$body-bold: "SFPD Bold";
$body-light: "SFPD Light";
$nlp:.3px; 
$bc:center;
$bgnrp:no-repeat;
$bgcover:cover;
$transition: all .35s;